@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100dvh;
  background: transparent;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  min-height: 100dvh;
  background-color: #0e0018;
  background-image: linear-gradient(
    180deg,
    #0e0018 0%,
    #241a46 20%,
    #5d376c 40%,
    #a65383 60%,
    #e76e86 80%,
    #ff8676 100%
  );
}
